@model RecApp.Models.Fiction

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Fiction</h4>
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" id="titleField" class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="title-label">Title</span>
                    <input asp-for="Title" class="mdc-text-field__input" aria-labelledby="title-label">
                    <span class="mdc-line-ripple"></span>
                </label>
                <span asp-validation-for="Title" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Author" id="authorField" class="mdc-text-field mdc-text-field--filled">
                    <span class="mdc-text-field__ripple"></span>
                    <span class="mdc-floating-label" id="author-label">Author</span>
                    <input asp-for="Author" class="mdc-text-field__input" aria-labelledby="author-label">
                    <span class="mdc-line-ripple"></span>
                </label>
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <!-- Required MDC Web JavaScript library -->
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <script>
            for (const el of document.querySelectorAll('.mdc-text-field')) {
                const textField = mdc.textField.MDCTextField.attachTo(el);
            }
        </script>
    }
}
